<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirayepay.KirayePay_Rikki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <application
        android:name="com.kirayepay.KirayePay_Rikki.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kp_icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kp_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fdf4d2fa84694a797f7c05b1921c1d37f429145c"
            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.kirayepay.KirayePay_Rikki.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.AdsOfCategory.AdsByCategoryActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Details.AdsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Fab.OnFabClickedActivity"
            android:theme="@style/myTheme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Fab.ADs.GetAdsDetails"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Details.RequirementsDetailsActivity"
            android:theme="@style/myTheme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Fab.Requirements.PostRequirementsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Authentication.SigninActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
            <intent-filter>

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Authentication.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.SplashScreen"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Dashboard.User_Profile.UserProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Dashboard.User_Ads.UserAds"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.kirayepay.KirayePay_Rikki.Dashboard.User_Requirements.UserRequirements"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Dashboard.ContactUs"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Dashboard.TermsAndCond"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Dashboard.PrivacyPolicy"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Dashboard.Disclaimer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Fab.ADs.GetAdsLocation"
            android:theme="@style/myTheme"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.kirayepay.KirayePay_Rikki.Fab.ADs.GetImagesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>